---
import TopTabs from "./TopTabs.astro";
---

<div class="top-bar">

  <div class="logo">
    <img src="/src/assets/logo/logoNoB.png" alt="Quiavic Logo" />
  </div>

  <TopTabs />

  <button id="theme-toggle" class="theme-btn" aria-label="Cambiar tema">
    🌙
  </button>

  <div class="lang-top">
    <button type="button" id="langBtn">
      Español
    </button>
  </div>

  <button type="button" class="donate-btn">
    Donate
  </button>

</div>