<div class="hero-benefits">

  <h1 class="hero-title">
  Tu puente hacia nuevas oportunidades
  </h1>

  <p class="hero-subtitle">
    Encuentra oportunidades y planea tu proximo paso
  </p>

</div>