<div class="benefits" id="topTabs">

  <button class="benefit active" data-target="regresar">
    Quiero regresar a Mexico
  </button>

  <button class="benefit" data-target="oportunidades">
    Oportunidades en Texas
  </button>

  <button class="benefit" data-target="asesoria">
    Asesoría
  </button>

  <button class="benefit" data-target="crecimiento">
    About US
  </button>

  <button class="benefit" data-target="Test">
    Examen de práctica GED
  </button>

</div>
