---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>QUIAVIC</title>
  </head>

  <body>

    <!-- 🔥 CONTENEDOR APP -->
    <div class="app">

      <!-- MAIN -->
      <main>
        <slot />
      </main>

      <!-- FOOTER -->
      <footer class="footer">
        © 2026 QUIAVIC
      </footer>
    </div>

  </body>
</html>