---
import "../styles/global.css"; /* 🔥 FIX: carga CSS */
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>QUIAVIC</title>
  </head>

  <body>

    <!-- CONTENIDO -->
    <main>
      <slot />
    </main>

    <!-- FOOTER -->
    <footer class="footer">
      © 2026 QUIAVIC
    </footer>

  </body>
</html>