
 <section class="form-section active" data-form="regresar">
  <div class="app-container">
    <form class="container" data-endpoint="/api/quiero-regresar/">
      <h2>Quiero regresar</h2>

        <input required name="estado_actual" placeholder="¿En qué estado vives hoy?" />
        <input required name="fecha_regreso" placeholder="¿En cuántos días planeas regresar?" />
        <input required name="nivel_academico" placeholder="¿Cuál es tu nivel académico?" />
        <input required name="estado_mexico" placeholder="¿A qué estado de México quieres regresar?" />

        <button type="submit">Enviar</button>
        <p class="feedback"></p>
      </form>
    </div>
  </section>